/* Bg image */
.Home img{
    min-height: 120%;
    min-width: min-content;
    position: fixed;
    width: 100%;
    height: fit-content;
    top: -170px;
    left: 0;
    z-index: -1;  
}

.Home-leftDiv{
    width: 45%;    
    height: 100vh;
    position: absolute;
    padding: 6% 6%
}

.Home-div{
    position: relative;
    background-color: #ffffff53;
    border-radius: 5%;
    padding: 3em 3em;
    width: 70%;
    height: 45vh;
    margin: auto;
    overflow: auto;
}

.Home h1{
    font-size: 48px;
    margin-top: 0;
}

.Home button{
    position: relative;
    margin:1em;
    width: 11em;
    height: 2.5em;
    background-color: #A7D7C5;
    border: none;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;

}

.Home button:hover {
    background-color: #84c7aee7;
}


/**MEDIA QUERIES**/
@media screen and (max-width: 1024px) {
    .Home-leftDiv {
        width: 100%;
        padding: none;
    }
}