.Home img{
    min-height: 120%;
    min-width: min-content;
    position: fixed;
    width: 100%;
    height: fit-content;
    top: -170px;
    left: 0;
    z-index: -1;  
    /* Image moves to back to act like bg picture*/
}

/* .Home{
    width: 100vw;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1572969057162-d3b00f790462?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=8") no-repeat center center fixed;
    background-size: cover;
      height: 100%;
      overflow: hidden;
} */

.Home-leftDiv{
    width: 45%;    
    height: 100vh;
    position: absolute;
    padding: 3.5% 5%
}

.Home-div{
    position: relative;
    background-color: #ffffff53;
    border-radius: 5%;
    padding: 3em 3em;
    width: 70%;
    height: 70vh;
    margin: auto;
    overflow: auto;
}

.Home h1{
    font-size: 48px;
    margin-top: 0;
}

.Home button{
    position: relative;
    margin:1em;
    width: 11em;
    height: 2.5em;
    background-color: #A7D7C5;
    border: none;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;

}

.Home button:hover {
    background-color: #84c7aee7;
}


/**MEDIA QUERIES**/
@media screen and (max-width: 1024px) {
    .Home-leftDiv {
        width: 100%;
        padding: none;
    }
}