.List-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.Plant-card{
    margin: 2em;
}

.Plant-card img {
    max-width: 30em;
    border-radius: 10px;
}

.Plant-card h4 {
    margin: 0;
}

.List button {
    background: none;
    border: none;
}

/* Edit Name button & div  */
.List-form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 8em;
    margin: 1em;
    padding: 2em;

}

.List-form button {
    background: none;
    border-radius: 5px;
    width: 7em;
    margin: 0.5em auto;
    border:1px solid rgba(0, 0, 0, 0.534);
}

.List-form input {
    width: 15em;
    margin: 0.5em auto;
}




/**MEDIA QUERIES**/
@media screen and (max-width: 1024px) {
.Plant-card img {
    max-width: 50em;
}
}
