/* .NavBar{
    background-color: #A7D7C5;
    opacity: 75%;
    height: 65px;
    display: flex;
    justify-content: center;
    z-index: 0.9;
    font-family: 'Montserrat',
    sans-serif;
    z-index: 10;
} */
/* 
.NavBar a {
    position: relative;
    display: inline-block;
    height: 65px;
    text-decoration: none;
    margin: 0 1em;
    padding-top:1%;
    vertical-align: sub;
} */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A7D7C5;
    display: flex;
    justify-content: center;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
        line-height: 60px;
}


.links a:hover {
    background-color: #FFFFFF;
}

.NavBar nav a {
    display: inline;
    color: rgb(7, 7, 7);
    text-decoration: none;
    height: 65px;
    margin-top: 0;
    line-height: 34px;
    transition: 0.3s all;
    padding: 1.5em;
}

.NavBar nav a:hover {
    background: #FFFFFF;
}

.logo {
    font-size: 30px;
    transition: 0.7s all;

} 
.logo:hover {
    font-size: 33px;
    transition: 0.7s all;
} 


/**MEDIA QUERIES**/
@media screen and (max-width: 1024px) {
    .logo {
        font-size:xx-large;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        font-size: 20px;
    }
}