.NavBar{
    background-color: #A7D7C5;
    opacity: 75%;
    height: 65px;
    display: flex;
    justify-content: center;
    z-index: 0.9;
    font-family: 'Montserrat',
    sans-serif;
    z-index: 10;
}
/* 
.NavBar a {
    position: relative;
    display: inline-block;
    height: 65px;
    text-decoration: none;
    margin: 0 1em;
    padding-top:1%;
    vertical-align: sub;
} */

.NavBar li {
    list-style: none;
}

.NavBar nav {
    overflow: hidden;
}

.NavBar nav ul {
    float: right;
}

.NavBar nav li {
    display: inline;
    float: left;
}

.NavBar nav a {
    display: inline;
    color: rgb(7, 7, 7);
    text-decoration: none;
    height: 65px;
    margin-top: 0;
    line-height: 34px;
    transition: 0.3s all;
    padding: 1.5em;
}

.NavBar nav a:hover {
    background: #FFFFFF;
    /* border-bottom: 4px solid black; */
}

.logo {
    float: left;
    font-size: 44px;
    transition: 0.7s all;
    line-height: 60px;
}
/**MEDIA QUERIES**/
@media screen and (max-width: 1024px) {
    .logo {
        font-size:xx-large;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        font-size: 20px;
    }
}