.Home img{
    min-height: 120%;
    min-width:min-content;
    position: fixed;
    width: 100%;
    height: fit-content;
    top: -170px;
    left: 0;
    z-index: -1; /* Image moves to back to act like bg picture*/
}

.Home-div{
    background-color: #ffffff53;
    border-radius: 5%;
    padding: 0 3em;
    position: absolute;
    left: 10%;
    top: 15%;
    height: 47em;
    width: 37em;
}

.Home h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

.Home p{
    /* font-family: 'Raleway',
    sans-serif; */
}